<p id="notice"><%= notice %></p>

<div style="margin: 30px 0px">
<h3> <%= editable @article, :title %> </h3>
<p>  <%= editable @article, :content, type: "wysihtml5" %> </p>

</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
