<p id="notice"><%= notice %></p>

<div style="margin: 30px 0px">
<h3>
  <%= @article.title %>
</h3>

<p>
  <%= @article.content %>
</p>

</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
